In [1]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import MeanSquaredError, MeanAbsoluteError, BinaryCrossentropy

In [2]:
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
feature = data.drop(columns=['Exited', 'RowNumber', 'CustomerId', 'Surname'])
target = data['Exited']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(feature, target, test_size = 0.20, random_state = 3)

In [7]:
categorical_cols = ['Geography', 'Gender']
x_train = pd.get_dummies(x_train, columns=categorical_cols, drop_first=True)
x_test = pd.get_dummies(x_test, columns=categorical_cols, drop_first=True)

In [8]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
5291,659,32,2,155584.21,1,0,1,153662.88,False,False,False
8771,681,31,4,97338.19,2,0,0,48226.76,True,False,True
35,475,45,0,134264.04,1,1,0,27822.99,False,False,False
1255,624,46,3,0.00,2,1,1,62825.03,False,True,True
3266,537,30,1,103138.17,1,1,1,96555.42,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
6400,676,30,5,0.00,2,0,0,179066.58,False,True,False
9160,778,24,4,0.00,2,1,1,162809.20,False,False,True
9859,678,55,4,129646.91,1,1,1,184125.10,True,False,True
1688,601,41,1,0.00,2,0,1,160607.06,False,False,False
5994,580,35,10,136281.41,2,1,1,24799.47,True,False,True

In [9]:
x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

In [10]:
x_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
5876,704,39,2,111525.02,1,1,0,199484.96,False,False,True
6555,641,35,5,0.00,2,1,0,93148.93,False,False,True
1448,555,46,4,120392.99,1,1,0,177719.88,True,False,False
3351,474,34,9,176311.36,1,1,0,160213.27,True,False,False
231,610,40,0,0.00,2,1,0,62232.60,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
869,435,36,4,0.00,1,1,1,197015.20,False,False,True
2928,668,39,0,122104.79,1,1,0,112946.67,True,False,False
8436,834,40,7,0.00,2,0,0,45038.74,False,True,True
6312,658,28,9,152812.58,1,1,0,166682.57,True,False,False
7195,675,33,6,0.00,2,1,0,34045.61,False,False,False

In [11]:
# Create model

model = Sequential([
    Dense(10, activation='relu', input_dim=x_train.shape[1]),
    Dense(8, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [12]:
# Compile the model

model.compile(
    optimizer='adam',
    loss=BinaryCrossentropy(),
    metrics=['accuracy', MeanSquaredError(), MeanAbsoluteError()]
)

In [16]:
model.fit(x_train, y_train, epochs=20, validation_data=(x_test, y_test))

Epoch 1/20
250/250 [==============================] - 7s 12ms/step - loss: 792.1918 - accuracy: 0.6905 - mean_squared_error: 0.3063 - mean_absolute_error: 0.3107 - val_loss: 124.5800 - val_accuracy: 0.7675 - val_mean_squared_error: 0.2185 - val_mean_absolute_error: 0.2676
Epoch 2/20
250/250 [==============================] - 2s 9ms/step - loss: 56.7636 - accuracy: 0.6709 - mean_squared_error: 0.3200 - mean_absolute_error: 0.3304 - val_loss: 26.6801 - val_accuracy: 0.7005 - val_mean_squared_error: 0.2822 - val_mean_absolute_error: 0.2987
Epoch 3/20
250/250 [==============================] - 3s 10ms/step - loss: 24.7829 - accuracy: 0.6746 - mean_squared_error: 0.3124 - mean_absolute_error: 0.3265 - val_loss: 17.0455 - val_accuracy: 0.7510 - val_mean_squared_error: 0.2423 - val_mean_absolute_error: 0.2499
Epoch 4/20
250/250 [==============================] - 2s 9ms/step - loss: 15.9028 - accuracy: 0.6804 - mean_squared_error: 0.3074 - mean_absolute_error: 0.3220 - val_loss: 10.7173 - val_accuracy: 0.5340 - val_mean_squared_error: 0.4228 - val_mean_absolute_error: 0.4455
Epoch 5/20
250/250 [==============================] - 2s 9ms/step - loss: 15.1778 - accuracy: 0.6714 - mean_squared_error: 0.3143 - mean_absolute_error: 0.3291 - val_loss: 18.8629 - val_accuracy: 0.5435 - val_mean_squared_error: 0.4344 - val_mean_absolute_error: 0.4459
Epoch 6/20
250/250 [==============================] - 2s 10ms/step - loss: 13.9785 - accuracy: 0.6811 - mean_squared_error: 0.3062 - mean_absolute_error: 0.3210 - val_loss: 12.9083 - val_accuracy: 0.7650 - val_mean_squared_error: 0.2328 - val_mean_absolute_error: 0.2744
Epoch 7/20
250/250 [==============================] - 2s 9ms/step - loss: 15.1435 - accuracy: 0.6839 - mean_squared_error: 0.3031 - mean_absolute_error: 0.3182 - val_loss: 21.6675 - val_accuracy: 0.8030 - val_mean_squared_error: 0.1970 - val_mean_absolute_error: 0.1972
Epoch 8/20
250/250 [==============================] - 2s 9ms/step - loss: 15.4355 - accuracy: 0.6821 - mean_squared_error: 0.3062 - mean_absolute_error: 0.3210 - val_loss: 29.8936 - val_accuracy: 0.8030 - val_mean_squared_error: 0.1970 - val_mean_absolute_error: 0.1973
Epoch 9/20
250/250 [==============================] - 2s 9ms/step - loss: 13.3084 - accuracy: 0.6823 - mean_squared_error: 0.3046 - mean_absolute_error: 0.3197 - val_loss: 4.8421 - val_accuracy: 0.6645 - val_mean_squared_error: 0.3218 - val_mean_absolute_error: 0.3439
Epoch 10/20
250/250 [==============================] - 2s 9ms/step - loss: 10.1816 - accuracy: 0.6891 - mean_squared_error: 0.2950 - mean_absolute_error: 0.3149 - val_loss: 9.4333 - val_accuracy: 0.5425 - val_mean_squared_error: 0.4373 - val_mean_absolute_error: 0.4474
Epoch 11/20
250/250 [==============================] - 3s 10ms/step - loss: 15.2137 - accuracy: 0.6766 - mean_squared_error: 0.3111 - mean_absolute_error: 0.3247 - val_loss: 19.7918 - val_accuracy: 0.5660 - val_mean_squared_error: 0.4254 - val_mean_absolute_error: 0.4324
Epoch 12/20
250/250 [==============================] - 2s 9ms/step - loss: 12.5680 - accuracy: 0.6809 - mean_squared_error: 0.3088 - mean_absolute_error: 0.3240 - val_loss: 7.2612 - val_accuracy: 0.7815 - val_mean_squared_error: 0.2045 - val_mean_absolute_error: 0.2437
Epoch 13/20
250/250 [==============================] - 3s 11ms/step - loss: 14.5134 - accuracy: 0.6830 - mean_squared_error: 0.3070 - mean_absolute_error: 0.3210 - val_loss: 17.2156 - val_accuracy: 0.7785 - val_mean_squared_error: 0.2213 - val_mean_absolute_error: 0.2429
Epoch 14/20
250/250 [==============================] - 3s 10ms/step - loss: 14.1891 - accuracy: 0.6850 - mean_squared_error: 0.3037 - mean_absolute_error: 0.3201 - val_loss: 12.0156 - val_accuracy: 0.8025 - val_mean_squared_error: 0.1972 - val_mean_absolute_error: 0.1994
Epoch 15/20
250/250 [==============================] - 3s 10ms/step - loss: 12.5251 - accuracy: 0.6814 - mean_squared_error: 0.3053 - mean_absolute_error: 0.3230 - val_loss: 5.5505 - val_accuracy: 0.5225 - val_mean_squared_error: 0.4354 - val_mean_absolute_error: 0.4655
Epoch 16/20
250/250 [==============================] - 2s 9ms/step - loss: 11.3612 - accuracy: 0.6855 - mean_squared_error: 0.3027 - mean_absolute_error: 0.3189 - val_loss: 14.3247 - val_accuracy: 0.8020 - val_mean_squared_error: 0.1968 - val_mean_absolute_error: 0.2035
Epoch 17/20
250/250 [==============================] - 2s 9ms/step - loss: 11.9331 - accuracy: 0.6874 - mean_squared_error: 0.2983 - mean_absolute_error: 0.3159 - val_loss: 14.2012 - val_accuracy: 0.6225 - val_mean_squared_error: 0.3709 - val_mean_absolute_error: 0.3770
Epoch 18/20
250/250 [==============================] - 2s 9ms/step - loss: 11.7139 - accuracy: 0.6905 - mean_squared_error: 0.2989 - mean_absolute_error: 0.3146 - val_loss: 5.4694 - val_accuracy: 0.5200 - val_mean_squared_error: 0.4612 - val_mean_absolute_error: 0.4784
Epoch 19/20
250/250 [==============================] - 2s 10ms/step - loss: 14.0095 - accuracy: 0.6824 - mean_squared_error: 0.3090 - mean_absolute_error: 0.3206 - val_loss: 17.0368 - val_accuracy: 0.8005 - val_mean_squared_error: 0.1989 - val_mean_absolute_error: 0.2009
Epoch 20/20
250/250 [==============================] - 2s 10ms/step - loss: 8.8752 - accuracy: 0.6929 - mean_squared_error: 0.2928 - mean_absolute_error: 0.3133 - val_loss: 4.5989 - val_accuracy: 0.8000 - val_mean_squared_error: 0.1969 - val_mean_absolute_error: 0.2022

In [17]:
loss, accuracy, mse, mae = model.evaluate(x_test, y_test)
print(f"Test Accuracy: {accuracy:.4f}")
print(f"Mean Squared Error: {mse:.4f}")
print(f"Mean Absolute Error: {mae:.4f}")

63/63 [==============================] - 1s 7ms/step - loss: 4.5989 - accuracy: 0.8000 - mean_squared_error: 0.1969 - mean_absolute_error: 0.2022
Test Accuracy: 0.8000
Mean Squared Error: 0.1969
Mean Absolute Error: 0.2022